*.go
.depends
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux/install-sh
build-aux/missing
build-aux/test-driver.scm
config.log
config.status
configure
doc/*.cwl
doc/*.html
doc/*.info
doc/*.png
doc/.dirstamp
doc/stamp-vti
pre-inst-env
scripts/ccwl
test-suite.log
tests/*.log
tests/*.trs
website