body {
    margin: 40px auto;
    max-width: 900px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
}

h1, h2, h3 {
    line-height: 1.2;
}

pre {
    background-color: #f0f0f0;
    padding: 1em;
}

code {
    font-style: italic;
}

/* Make the svg badges clickable. */
object {
    pointer-events: none;
}
